<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

    <header class="nav">
        <nav class="nav-main">
            <a class="nav-logo" href="/">
                <h1>NoCoTrailConditions</h1>
            </a>
        </nav>
    </header>


    <h1>create a user</h1>
    <form method="POST" action="/users">
      <label>Name<span class="asterisk">&#42;</span>
        <input name="user[name]" type="text" required>
      </label>
      <label>Email<span class="asterisk">&#42;</span>
        <input name="user[email]" type="email" required>
      </label>
      <label>City
        <input name="user[city]" type="text">
      </label>
      <label>Favorite Trail
        <input name="user[favorite_trail]" type="text">
      </label>
      <label>Username<span class="asterisk">&#42;</span>
        <input name="user[username]" type="text" required>
      </label>
      <label>Password<span class="asterisk">&#42;</span>
        <input name="user[password]" type="password" required>
      </label>
      <p>Password should be at least four characters, contain at least one letter, and at least one special character.</p>
      <button type="submit">Join Now</button>
    </form>
    <p><span class="asterisk">&#42;</span>Required fields</p>

    <% if(info.hasError) { %>
          <% for(var item in info.error) { %>
            <% for(var i = 0; i < info.error[item].length; i++) { %>
                  <p><%= info.error[item][i].message %></p>
            <% } %>
          <% } %>
    <% } %>

  </body>
</html>
