<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

    <% include partials/headerConcise %>

        <div class="container-fluid">
          <div class="row">
            <div id="trail-view-image" class="col-sm-12"></div>
          </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 delete">
                    <h1>
                        <%= session.username %>, are you sure that you want to delete your account?</h1>

                    <form method="POST" action="/users/delete?_method=DELETE">
                        <button type='submit'>Yes, I'm sure</button>
                    </form>
                    <form action="/">
                        <button type="submit">Changed my mind!</button>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>
