<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <div class="container-fluid">
      <div class="row" id="landing-image">
          <div class="col-sm-4"></div>
          <div id='center-div' class="col-sm-4">
              <h1>Check &amp; Update the Conditions of Your Favorite Northern Colorado Trails</h1>

              <!-- <select class="form-control">
                  <optgroup label="Fort Collins">
                      <option value='Foothills Trail' >Foothills Trail</option>
                      <option value='Poudre Trail' >Poudre Trail</option>
                  </optgroup>
                  <optgroup label="Horsetooth Mountain Park">
                      <option value='Horsetooth Rock' >Horsetooth Rock</option>
                      <option value='Inlet Bay Trail' >Inlet Bay Trail</option>
                  </optgroup>
                  <optgroup label="Lory State Park">
                      <option value="Arthur's Rock" >Arthur's Rock</option>
                      <option value='Timber Trail' >Timber Trail</option>
                  </optgroup>
              </select> -->
              <br>
              <a href='/trails'>See Trail Conditions</a>
              <!-- <select class="form-control">
                <option value='Last 24 hours' >Last 24 hours</option>
                <option value='Last 3 days' >Last 3 days</option>
                <option value='Last 7 days' >Last 7 days</option>
              </select>
              <a href=''>Search by Date</a> -->



        </div>

          <div class="col-sm-4"></div>
      </div>
    </div>

</body>

</html>
