<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

    <% include partials/headerConcise %>

        <div class="container-fluid">
            <div class="row" id="landing-image">
                <div class="col-sm-4"></div>
                <div id='center-div' class="col-sm-4">
                    <h1>Login</h1>
                    <form method="POST" action="/users/auth">

                        <div class="form-group">
                            <label>Username
                                <input name="user[username]" type="text">
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Password
                                <input name="user[password]" type="password">
                            </label>
                        </div>
                        <button type="submit">Log In</button>
                    </form>
                    <% if (info.noMatch) { %>
                        <p class="error-message">&#42; Incorrect username and password combination.</p>
                        <% } %>
                            <% if (info.userDoesNotExist) { %>
                                <p class="error-message">&#42; That username does not exist in our database.</p>
                                <% } %>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
</body>

</html>
