<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

    <header class="nav">
        <nav class="nav-main">
            <a class="nav-logo" href="/">
                <h1>NoCoTrailConditions</h1>
            </a>
        </nav>
    </header>

    <h1>login</h1>
    <form method="POST" action="/users/auth">
      <label>Username
        <input name="user[username]" type="text">
      </label>
      <label>Password
        <input name="user[password]" type="password">
      </label>
      <button type="submit">Log In</button>
    </form>

    <% if (info.noMatch) { %>
    <p class="error-message">&#42; Incorrect username and password combination.</p>
    <% } %>

    <% if (info.userDoesNotExist) { %>
    <p class="error-message">&#42; That username does not exist in our database.</p>
    <% } %>


  </body>
</html>
