

<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <h1>create new trail condition</h1>

    <form method='POST' action='/conditions'>

      <label>Comment
        <textarea rows='5' cols='40' minlength='20' name='comment' type='text' placeholder='Write comment here' required></textarea>
      </label>
    </form>

  </body>
</html>
