<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body id="trail-list-body">
    <% include partials/header %>


    <div class="container-fluid">
      <div class="row">
        <div id="trail-list-image-left" class="col-sm-4"></div>
          <div id="trail-list-div" class="col-sm-4">
            <h1>Update Trail Condition</h1>
            <form method='POST' action='/trails/<%= id %>'>
                <textarea rows='7' minlength='15' name='condition[comment]' type='text' placeholder='Add your update here...' required></textarea>
                <button type="submit">Add Update</button>
            </form>
          </div>
          <div id="trail-list-image-right" class="col-sm-4"></div>
        </div>
      </div>
  </body>
</html>
