<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body id="trail-list-body">
    <% include partials/header %>


    <div class="container-fluid">
      <div class="row">
        <div id="trail-list-image-left" class="col-sm-4"></div>
          <div id="trail-list-div" class="col-sm-4">
            <h1>Trails</h1>
            <ul>
            <% trails.forEach(function(trail) { %>
              <li>
                <a href="/trails/<%= trail.id %>">
                  <%= trail.name %>
                </a>
              </li>
            <% }); %>
            </ul>
            <a class="link-button" href="/trails/all">All Trails</a>
          </div>
          <div id="trail-list-image-right" class="col-sm-4"></div>
        </div>
      </div>
  </body>
</html>
