<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <h1><%= trail.name %></h1>
    <p><%= trail.description %></p>

    <p><span>Trail length:<span> <%= trail.trail_length %></p>
    <p><span>Elevation gain:<span> <%= trail.elevation_gain %></p>




  </body>
</html>
