body {
  font-family: 'Raleway', sans-serif;
}
.error-message {
  color: red;
}
.navbar {
  background-color: white;
  margin: 0;
}
.navbar a {
  text-decoration: none;
}
.navbar-nav>li>a {
  padding: 10px;
  background-color: #DC3F1C;
  border-radius: 5px;
  color: white;
}
.navbar-nav>li>a:hover {
  background-color: #D8A027;
  color: #DC3F1C;
}
.navbar-nav>li {
  margin-right: 5px;
}
.navbar-header {
  margin: 20px;
}
.navbar-header span {
  color: #DC3F1C;
}
.navbar h1 {
  margin: 0;
  color: #D8A027;
  font-family: 'Monoton', cursive;
  margin-left: 30px;
}
.navbar-right {
  margin: 45px 20px 0 0;
}
#welcome-message {
  margin-right: 5px;
  background-color: #F5DBA2;
  padding: 10px;
  border-radius: 5px;
}
#landing-image {
  /*width: 100%;*/
  height: 575px;
  background-image: url('https://images.unsplash.com/uploads/14114036359651bd991f1/b3ed8fdf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f522d9aa3c2ff08ee35e06b019e9baa7');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
#center-div {
  background-color: #F5DBA2;
  opacity: .75;
  text-align: center;
  border-radius: 5px;
  margin-top: 120px;
  padding: 20px;
}
#center-div h1 {
  margin-top: 0;
}
button {
  background-color: #DC3F1C;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
}
button:hover {
  background-color: #D8A027;
  color: #DC3F1C;
}
input {
  margin-left: 5px;
}
#center-div a {
  text-decoration: none;
}
#center-div a, #link-button {
  padding: 10px;
  margin: 10px;
  background-color: #DC3F1C;
  border-radius: 5px;
  color: white;
}

/*trail list page*/
#trail-list-image-left {
  background-image: url('https://images.unsplash.com/uploads/14114036359651bd991f1/b3ed8fdf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f522d9aa3c2ff08ee35e06b019e9baa7');
  height: 700px;
  background-size: cover;
  background-position: left;
}
#trail-list-image-right {
  background-image: url('https://images.unsplash.com/uploads/14114036359651bd991f1/b3ed8fdf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f522d9aa3c2ff08ee35e06b019e9baa7');
  height: 700px;
  background-size: cover;
  background-position: right;
}
#trail-list-body {
  background-color: #F5DBA2;
}
#trail-list-div {
  text-align: center;
  border-left: 5px solid white;
  border-right: 5px solid white;
  min-height: 700px;
}
#trail-list-div h1 {
  color: #DC3F1C;
  font-weight: 700;
  margin-top: 40px;
}
#trail-list-div ul {
  padding: 0;
  list-style: none;
}
#trail-list-div a {
  color: #473A1E;
  text-decoration: none;
  font-size: 1.5em;
}
#trail-list-div a:hover {
  color: white;
  background-color: #DC3F1C;
  padding: 5px;
  border-radius: 5px;
}

/*specific trail view*/
#trail-view-image {
  background-image: url('https://images.unsplash.com/uploads/14114036359651bd991f1/b3ed8fdf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f522d9aa3c2ff08ee35e06b019e9baa7');
  height: 100px;
  background-size: cover;
  background-position: center;
}
#trail-details h1 {
  font-size: 3.2em;
}
#trail-details p {
  font-size: 1.2em;
}
.bold {
  font-weight: bold;
}
#conditions {
  margin-top: 20px;
  padding: 20px;
  background-color: #F5DBA2;
  border-radius: 5px;
}
#conditions #link-button {
  margin-left: 0;
}
#conditions #link-button:hover {
  background-color: #D8A027;
  color: #DC3F1C;
  text-decoration: none;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment-username {
  color: #DC3F1C;
}
